.cruises__container {
  padding-top: 95px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 65px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.cruises h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 58px;

  @include vp-1023 {
    font-size: 26px;
    margin-bottom: 58px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 38px;
  }
}

.cruises__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 260px);
  grid-auto-rows: min-content;
  align-items: start;
  column-gap: 30px;
  row-gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
    justify-items: center;
  }

  @include vp-767 {
    grid-template-columns: minmax(260px, 1fr);
  }
}

.cruises__list-item {
  display: flex;
  width: 100%;
  height: 386px;
  min-width: 260px;
  overflow: hidden;

  @include vp-1023 {
    max-width: 309px;
  }

  @include vp-767 {
    max-width: 270px;
  }
}

.cruises__card {
  display: grid;
  align-items: end;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  z-index: 1;
}

.cruises__image {
  width: 100%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.cruises__title-wrapper {
  position: relative;
  z-index: 100;
  margin-bottom: 13px;
}

.cruises__title-wrapper h3 {
  backface-visibility: hidden;
  margin: 0;
  color: $color-default-white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.cruises__card-front {
  min-height: 100%;
  display: grid;
  grid-area: 1 / 2;
  pointer-events: none;

  @include hover {
    opacity: 0.9;
  }

  @include hover-focus {
    opacity: 0.9;
  }

  &::after {
    content: attr(data-cruise);
    color: $color-default-white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    z-index: 100;
    padding-bottom: 25px;
    padding-left: 30px;
    align-self: flex-end;

    @include vp-1023 {
      padding-bottom: 30px;
      padding-left: 35px;
    }

    @include vp-767 {
      padding-bottom: 18px;
      padding-left: 25px;
    }
  }
}

.cruises__card-back {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 28px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 35px;
  color: $color-default-white;
  transform: rotateY(180deg);
  overflow: auto;

  @include vp-1023 {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 19px;
    padding-top: 28px;
  }
}

.cruises__card-front,
.cruises__card-back {
  grid-area: 1 / -1;
  min-width: 100%;
  backface-visibility: hidden;
  box-sizing: border-box;
  background-color: $color-default-dark;
}

.cruises__list-item:hover .cruises__card,
.cruises__list-item:focus .cruises__card,
.cruises__list-item:focus-within .cruises__card {
  transform: rotateY(180deg);
}

.cruises__list-item:hover .cruises__title-wrapper,
.cruises__list-item:focus .cruises__title-wrapper,
.cruises__list-item:focus-within .cruises__title-wrapper {
  align-self: start;
}

.cruises__card-back dl {
  margin: 0;
  flex-grow: 1;
}

.cruises__card-back dt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.cruises__card-back dd {
  margin: 0;
  color: $color-card-text;
  font-size: 14px;
  line-height: 1.4;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  @include vp-1023 {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  @include vp-767 {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

.cruises__card-back .btn {
  flex-shrink: 0;
  padding: 8px 47px;
  justify-content: center;

  @include vp-767 {
    margin-right: 5px;
  }
}
