.cruises .container {
  padding-top: 95px;
  padding-bottom: 120px;
  max-width: 1220px;

  @include vp-1023 {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @include vp-767 {
    padding-top: 62px;
    padding-bottom: 65px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.cruises h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 60px;

  @include vp-1023 {
    font-size: 26px;
    margin-bottom: 58px;
  }

  @include vp-767 {
    font-size: 24px;
    margin-bottom: 38px;
  }
}

.cruises__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 260px);
  grid-auto-rows: min-content;
  align-items: start;
  column-gap: 30px;
  row-gap: 30px;

  @include vp-1023 {
    grid-template-columns: repeat(2, minmax(260px, 1fr));
  }

  @include vp-767 {
    grid-template-columns: minmax(260px, 1fr);
  }
}

.cruises__list li {
  display: flex;
  perspective: 70em;
  min-height: 386px;
  min-width: 260px;

  @include vp-1023 {
    min-width: 309px;
  }

  @include vp-767 {
    min-width: 270px;
  }
}

.cruises__card {
  display: flex;
  flex: 1;
  width: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.cruises__list img {
  width: 100%;
}

.cruises__list h3 {
  position: absolute;
  margin: 0;
  bottom: 25px;
  left: 30px;
  color: $color-default-white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;

  @include vp-1023 {
    bottom: 28px;
    left: 33px;
  }

  @include vp-767 {
    bottom: 18px;
    left: 25px;
  }
}

.cruises__card-front {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.cruises__card-back {
  flex-direction: column;
  min-height: 100%;
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 35px;
  color: $color-default-white;
  transform: rotateY(180deg) translate(100%, 0);

  @include vp-1023 {
    padding-left: 35px;
    padding-right: 35px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 19px;
    padding-top: 28px;
  }
}

.cruises__card-front,
.cruises__card-back {
  min-width: 100%;
  backface-visibility: hidden;
  display: flex;
  box-sizing: border-box;
  background-color: $color-default-dark;
}

.cruises__list li:hover .cruises__card {
  transform: rotateY(180deg);
}

.cruises__card-back span {
  color: $color-default-white;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 15px;
}

.cruises__card-back dl {
  margin: 0;
  margin-bottom: 5px;
  flex-grow: 1;
}

.cruises__card-back dt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}

.cruises__card-back dd {
  margin: 0;
  color: $color-card-text;
  font-size: 14px;
  line-height: 1.4;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  @include vp-1023 {
    &:not(:last-of-type) {
      margin-bottom: 10px;
    }
  }

  @include vp-767 {
    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

.cruises__card-back .btn {
  flex-shrink: 0;
  padding: 8px 47px;
  justify-content: center;

  @include vp-767 {
    margin-right: 5px;
  }
}
