.preview {
  background-color: $color-default-white;
}

.preview .container {
  display: grid;
  grid-template-columns: 510px auto;
  column-gap: 90px;
  padding-top: 110px;
  padding-bottom: 140px;

  @include vp-1023 {
    align-items: start;
    grid-template-columns: 325px auto;
    column-gap: 30px;
    padding-top: 95px;
    padding-bottom: 97px;
  }

  @include vp-767 {
    row-gap: 45px;
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 85px;
  }
}

.preview__content {
  padding-top: 60px;
  padding-bottom: 66px;
  max-width: 512px;

  @include vp-1023 {
    max-width: 324px;
    padding: 0;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.preview__content h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  margin: 0;
  margin-bottom: 30px;

  @include vp-1023 {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: 18px;
  }

  @include vp-767 {
    font-size: 24px;
    padding-right: 20px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
}

.preview__content p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.preview__image img {
  object-fit: contain;

  @include vp-1023 {
    width: 100%;
    height: 100%;
  }
}
