.social-links {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 27px;
  row-gap: 10px;

  @include vp-1023 {
    align-items: center;
    column-gap: 18px;
    padding-top: 0;
  }
}

.social-links a {
  @include hover {
    opacity: 0.5;
  }

  @include hover-focus {
    opacity: 0.5;
  }
}

.social-links svg {
  @include vp-1023 {
    height: 16px;
  }
}
