.user-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  max-width: 800px;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 10px;
  align-self: center;

  @include vp-1023 {
    align-self: flex-start;
    column-gap: 25px;
    max-width: 640px;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.user-navigation__list li {
  max-width: 170px;
}

.user-navigation__list a {
  color: $color-default-white;
  font-weight: 500;

  @include hover {
    opacity: 0.5;
  }

  @include hover-focus {
    opacity: 0.5;
  }

  @include vp-1023 {
    font-size: 14px;
  }
}

.user-navigation__toggle {
  display: none;

  @include vp-767 {
    padding: 0;
    background: none;
    border: none;
    display: block;
    position: absolute;
    right: 15px;
    top: 25px;
  }

  @include hover-focus {
    opacity: 0.5;
  }
}

.user-navigation--footer {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.user-navigation__list--footer {
  padding-bottom: 5px;
  max-width: 915px;

  @include vp-1023 {
    max-width: 500px;
  }

  @include vp-767 {
    max-width: none;
    grid-template-columns: 1fr;
    row-gap: 7px;
    margin-bottom: 17px;

    a {
      color: $color-default-white;
    }
  }
}

.user-navigation--footer a {
  color: $color-default-white;

  @include vp-1023 {
    font-size: 12px;
  }
}

@include vp-767 {
  .user-navigation__list--header {
    padding-top: 85px;
    padding-left: 25px;
    padding-bottom: 25px;
    row-gap: 25px;
    left: 0;
    top: 0;

    a {
      font-size: 18px;
    }

    @include vp-767 {
      a {
        color: $color-default-dark;
      }
    }
  }

  .user-navigation__list--header li {
    max-width: none;
  }

  .header__user-navigation--opened .logotype {
    position: absolute;
    top: 20px;
    left: 16px;
  }

  .header__user-navigation--opened .logotype__icon {
    fill: $color-default-dark;
  }

  .header__user-navigation--opened .user-navigation__toggle {
    width: 13px;
    height: 13px;
  }

  .header__user-navigation--opened .user-navigation__toggle::after,
  .header__user-navigation--opened .user-navigation__toggle::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 13px;
    left: 0;
    top: 40%;
    background-color: $color-default-dark;
    transform: rotate(45deg);
  }

  .header__user-navigation--opened .user-navigation__toggle::before {
    transform: rotate(-45deg);
  }

  //User navigation closed
  .header__user-navigation--closed .user-navigation__list {
    display: none;
  }

  .header__user-navigation--closed .header__logotype {
    position: absolute;
    left: 16px;
    top: 20px;
  }

  .header__user-navigation--closed .user-navigation__toggle {
    width: 24px;
    height: 12px;
  }

  .header__user-navigation--closed .user-navigation__toggle::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 2px;
    right: 0;
    top: 0;
    background-color: $color-default-white;
    box-shadow: 0 5px 0 0 $color-default-white, 0 10px 0 0 $color-default-white;
  }
}
